@font-face {
    font-family: "CormorantGaramond-Light";
    src: url("/fonts/CormorantGaramond-Light.ttf") format('truetype');
}

@font-face {
    font-family: "CormorantGaramond-Medium";
    src: url("/fonts/CormorantGaramond-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "CormorantGaramond-Regular";
    src: url("/fonts/CormorantGaramond-Regular.ttf") format('truetype');
}
