* {
	font-family: 'CormorantGaramond-Regular', serif;
}

.footer img {
	width:20px;
	margin-right:20px;
}

.item {
	background-color: salmon;
	height: 200px;
}

.blue {
	background-color:blue;
}

.yellow {
	background-color: chartreuse;
}

.red {
	background-color: coral;
}