{{ define "main" }} 
<div class="row pt-5" style="height:100vh;">
    <div class="col-12">
        <h1 class="text-uppercase">Hello!</h1>
        <p>I'm a designer and art director based in Queens, New York, specializing in cover and interior book design. Currently I'm the Associate Art Director at Countryman Press, an imprint of W.W. Norton.
            Prior to Countryman Press, I held positions at Houghton Mifflin Harcourt, Time Inc. Books, and Hachette Book Group.
        </p>
        <p>When I'm not designing, you can find me knitting, weaving, or baking fresh sourdough bread.</p>
        <p>For freelance projects and other inquiries: <b>allisonchi90@gmail.com</b></p>
    </div>
</div>
{{ end }}