{{ define "main" }} 
<div class="row pt-5 bio">
    <div class="col-12 col-md-5">
        <img src="/img/achi_headshot.png" class="img-fluid" alt="allison chi">
        <ul class="social-menu pl-0 pt-2">
            <li><a href="https://twitter.com/ally_chi"><img src="/img/twitter.svg" alt="twitter" srcset=""></a></li>
            <li><a href="https://www.instagram.com/allychi"><img src="/img/instagram.svg" alt="instagram" srcset=""></a></li>
        </ul> 
    </div>
    <div class="col-12 col-md-7">
        <h1 class="text-uppercase">Hello!</h1>
        <p>I'm a designer and art director based in New York, specializing in cover and interior book design. Currently I'm an Art Director at W.W. Norton & Company overseeing the cookbook list and the Countryman Press imprint. Prior to W.W. Norton, I held positions at Houghton Mifflin Harcourt, Time Inc. Books, and Hachette Book Group.
        </p>
        <p>When I'm not designing, you can find me knitting, weaving, or baking fresh sourdough bread.</p>
        <p>For freelance projects and other inquiries: <a href="mailto:allisonchi90@gmail.com" class="text-decoration-none email">allisonchi90@gmail.com</a> </p>
    </div>
</div>
{{ end }}